form{
    width: 500px;
    margin-top:0;
    margin-bottom:0;
    margin-left:50px;
    margin-right:50px;
    padding:20px;
    border:solid thick;

}

h2{
    text-align:center
}
label {
    display: inline-block;
    width: 120px;
    margin-left: 20px;
}

footer{
    text-align:right
}