html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body
{
    font-family: 'Open Sans', sans-serif;
    background: lightblue;
    margin: 0;
}
a {
    color: red;
}
a:hover {
    text-decoration: none;
    /*font-family: 'Open Sans', sans-serif;
    font-family: 'Caveat', cursive;*/
}

header p {
    color : #EDF2F4;
}
header, footer {
    background: #2B2D42;
    font: #8D99AE;
}
header{
    text-align: center;

}
header h1, header h2{
    color: #EDF2F4;
    margin: 0;
}

footer{
    text-align: center;
}
.Education{
    background: #8D99AE;
}

.Work{
    background: #EDF2F4;
}
h1, h2{
    font-family: 'Caveat', cursive;
    font-weight: 400;
}
h2 {
    font-size: 40px;
    margin-top: 0;
}
h1 {
    font-size: 60px;
}

.content-wrap{
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
}
.col-narrow{
    width: 30%;
    float: left;
    min-height: 175px;
}
.col-wide {
    width: 70%;
    float: left;
    padding: 30px
}

.contact-info a {
    
    display: inline-block;
    padding: 10px;
}

.profile-img{
    border-radius: 50%;
    width: 30%;
}
